VITE_SUPABASE_PROJECT_ID="project_id"
VITE_SUPABASE_PUBLISHABLE_KEY="long_string"
VITE_SUPABASE_URL="https://project_id.supabase.co"
VITE_MAX_INPUT_CHARS=350
VITE_REQUESTS_LIMIT_REGISTERED=15
VITE_REQUESTS_LIMIT_GUEST=5
